body {
    background-color: white; /* whole page background */
}

.header-outer {
    background-color: #3466cb !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    margin: 25px;

}

.footer-outer {
    background-color: red !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    margin: 25px;

}

.header-outer h1 {
    flex: 1;              /* take all available horizontal space */
    text-align: center;    /* centers the H1 text inside its flex item */
    margin: 0;             /* reset default margin for better centering */
}

.footer-outer h1 {
    flex: 1;              /* take all available horizontal space */
    text-align: center;    /* centers the H1 text inside its flex item */
    margin: 0;             /* reset default margin for better centering */
}

h1 {
    font-family: 'copperplate';
    /* font-family: 'Playball', cursive; /* Playball font */
    font-size: 30px;
    color: white;                     /* text color */
    letter-spacing: 2px;              /* optional spacing for style */
    text-align: center;
    margin-top: 24px;
}

h2 {
    font-family: 'copperplate';
    /* font-family: 'Playball', cursive; /* Playball font */
    font-size: 24px;
    color: black;                     /* text color */
    letter-spacing: 2px;              /* optional spacing for style */
    text-align: center;
    margin-top: 24px;
}

p {
    font-family: 'typewriter';
    text-align: center;
    font-size: 18px;
}

.square-box {
    width: 200px;              /* adjust size as needed */
    height: 200px;             /* makes it square */
    background-color: white;   /* box background */
    border: 1px solid black;   /* black border */
    border-radius: 1px;        /* subtle rounding */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* shadow effect */
    margin: 50px auto;         /* centers horizontally */
}
